{% extends "teams/base.html" %}
{% load render_bundle from webpack_loader %}

{% block style %}
{{ block.super }}
{% render_bundle 'accounts_profile' 'css' %}
{% endblock %}

{% block content %}
<h1>{{ object.username }}</h1>
<img class="profile-picture" src="{{ object.picture }}" />
{% if participations %}
<h2>Participated Events</h2>
<ul>
	{% for p in participations %}
	<li>{% if p.team != None %}{{ p.team }} @ {% endif %}{{ p.event }}</li>
	{% endfor %}
</ul>
{% endif %}
{% if administrations %}
<h2>Ran Events</h2>
<ul>
	{% for a in administrations %}
	<li>{{ a.event }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endblock %}
